<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="clg.css">
</head>
<body class="container">
    <div class="main">
    <h1>Academic Information</h1>
    <ul>
        <li>Collage Name : KLE institute of Technology</li>
        <li>Passout Year : 2024/2025</li>
        <li>Course : Master of Computer Applications</li>
        <li>branch : Computer Science</li>
    </ul>
    <button type="button" >Next</button>
    </div>
</body>
</html>